@model List<BasketballAcademyBlog.Models.Publication>

@{ 
    ViewBag.Title = "List";
}

<div class="container">

        @foreach (var publication in Model)
        {
            <div class="col-sm-12">
                <article>
                    <header>
                        <h2>
                            <img src="~/Content/images/icon.png" width="45" height="60" />
                            @Html.ActionLink(@publication.Title, "ReadPost", "Publication", new { @id = publication.Id }, null)                           
                        </h2>
                    </header>
                    <p>
                        @publication.Content
                    </p>
                    <footer class="pull-right">
                        <small class="author">
                            Posted by @publication.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
</div>
<hr />



